* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background: lightblue; */
    position: relative;
}
section {
    width: 90%;
    position: relative;

}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .logo {
    width: 250px;
    cursor: pointer;
    position: relative;
    left: 30px;
    margin-bottom: 0;
}
.icons {
    position: relative;
    right: 20px;
}

.header-top .icons i {
    font-size: 25px;
    cursor: pointer;
}

.icons i:first-child {
    color: red;
}

.icons i:nth-child(n+2) {
    color: blue;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:#e5e8ea;
    position: relative;
    left: 50px;
   /* margin: 0; */
   width: 90%;
}

nav ul li {
    /* flex: 1; */
    display: inline-block;
    list-style: none;
   /* justify-content: space-around; */
    margin: 0;
}

nav ul li a {
    color:#9ca1a6;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
   
}
nav ul li a:hover {
    color: blue;
    padding-bottom: 16px;
    border-bottom: 3px solid blue;
}

.main-body {
    position: relative;
    left: 30px;
    top: -20px;
}

/* ad section */
button {
    border: none;
    border-radius: 30px;
    width: 100px;
    padding: 10px;
    margin: 0 20px;
}

.ads-container {
    width: 90%;
    position: relative;
}

.ads {
    width: 100%;
}

/* .ads-container h1, h4{
   
   width: 200px;
    background: red;
} */

.ads-container .left-block {
    position: absolute;
    top: 20px;
    left: 10%;
    display: block;
    /* background: red; */
    color: white;
    margin: 0;
}

#ad-close {
    position: absolute;
    right: -20px;
    top: 30px;
    width: 20px;
    border-radius: 0;
}

#ad-close span {
    display: block;
    position: absolute;
    top: -18px;
    right: -60px;
    color: black;
}

.banner-container {
    /* width: 90%;
    position: relative; */
    top: -40px;
}

.banner {
    width: 100%;
    height: 350px;
}

.banner-container .left-block {
    position: absolute;
    display: block;
    top: 30px;
    left: 70px;
    color: white;
    /* background: red; */
}

input {
    margin: 0;
    width: 10px;
}

#swipe-more-btn span {
    position:relative;
    left: -30px;
    border-radius: 20px;
    background: lightblue;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

span {
    width: 100px;
}

    /* Crytocurrrencies  section*/

table {
    width: 100%;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;

}
    /* Articles section */
.Articles-container{
    text-align: center;
}

.card-container {
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: space-between;
}

.card-container .card {
    width: 40%;
    min-width:360px;
    margin: 0 20px 0 0;
    background: rgba(213,222,229,0.2);
}

.card-container .card  img {
    width: 100%;
    height: 250px;
    margin: 0;
}

.card-container .card h3 {
    margin: 0 30px;
}

.card-container .card p{
    margin: 5px 30px;
    font-size: 12px;
    color: #757a7e;
}
 
.card .user {
display: flex;
align-items: center;
height: 10%;
min-height: 30px;
}

.card .user img {
    height: 100%;
    width: 50px;
    border-radius: 50%;
    margin: 0;
}

.user .user-block {
    margin: 0 0 0 10px;
}

.user-block ,h4 , h6 {
    margin: 0;
}

.user-block h6 {
    color: #757a7e;
}
        /* footer */
footer {
    padding: 10px;
    background: #95c1e8;
    color: white;
}

.footer-bottom ,ul {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0; */
}

.footer-bottom ul li {
    list-style: none;
    margin: 0 20px;
}